out/*
target/*
project/target/*
project/project/*

abstractions/target/*
abstractions/project/target/*
abstractions/project/project/*

js/target/*
js/project/target/*
js/project/project/*

jvm/target/*
jvm/project/target/*
jvm/project/project/*

main/target/*
main/project/target/*
main/project/project/*

.idea/*
.idea_modules/*
*.iml
